body{
	background-color: white;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.main{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 0
}

.topBar{
	list-style: none;
	text-align: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.topBar li{
	display: inline;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 0px;
}

.topBar li a{
	text-decoration: underline;
	color: black;
}

.loginFrame{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	height: 300px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.loginPanel{
	text-align: center;
	background: white;
	width: 300px;
	border-radius: 6px;
	margin: 0 auto 0 auto;
	padding: 0px 0px 70px 0px;
	border: #2980b9 4px solid;
}

nav{
	margin: 10px
}
#footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}